git+https://gitlab.tiker.net/mattwala/boxtree@fix-cost-model-for-2d-paper-code-v2
git+https://github.com/inducer/pymbolic
git+https://github.com/inducer/loopy
git+https://gitlab.tiker.net/inducer/sumpy@a90512815de8bce03816bb22659d752cf731704a
git+https://github.com/inducer/meshmode@44ed963d24b7b2f703e3b9ee9ea24bcee3cac6aa
