numpy
git+git://github.com/inducer/pymbolic
sympy==1.0
git+https://github.com/inducer/modepy
git+https://github.com/inducer/pyopencl
git+https://github.com/inducer/islpy
git+https://github.com/inducer/loopy
git+https://gitlab.tiker.net/inducer/boxtree@b3e9e17489edf7af47bd192aeeebb393a08be189
git+https://github.com/inducer/meshmode@44ed963d24b7b2f703e3b9ee9ea24bcee3cac6aa
git+https://gitlab.tiker.net/inducer/sumpy@a90512815de8bce03816bb22659d752cf731704a
git+https://github.com/inducer/pyfmmlib
